{{>layouts/header}}

<div class="text-bg-dark text-white p-5">
    <h2>{{quote}}</h2>
</div>

<form action="/random-quote" method="get">
    <button type="submit" class="btn btn-warning">확인</button>
</form>

{{>layouts/footer}}